<!DOCTYPE html>
<html lang="en" class="_theme-dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- TODO: Make this style dynamic (or local) -->
    <link rel="stylesheet" type="text/css" href="https://devdocs.io/assets/application-25886a37eae22793077649c7ca0324b665f343164c226c84341a01a0211502ad.css">
</head>
<body>
    <main class="_content" role="main">
        <div class="_page _cppref">
            {{ results['_source'].values() | first | safe }}
        </div>
    </main>
</body>
</html>